@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
}

.btn {
	@apply px-4 py-2 rounded-md font-semibold inline-flex items-center justify-center transition-colors;
}
.btn-primary {
	@apply bg-yellow-400 hover:bg-yellow-300 text-black;
}
.btn-secondary {
	@apply bg-gray-800 hover:bg-gray-700 text-white;
}
.btn-danger {
	@apply bg-red-500 hover:bg-red-400 text-white;
}

